<?xml version="1.0"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <globalization uiCulture="da-DK" culture="da-DK"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="CPRCheck.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
