@using Web.Code
@model Gender

@if (Model == Gender.Either)
{
    <span class="label label-default">@Localization.GetString(Model)</span>
}
@if (Model == Gender.Male)
{
    <span class="label label-primary">@Localization.GetString(Model)</span>
}
@if (Model == Gender.Female)
{
    <span class="label label-warning">@Localization.GetString(Model)</span>
}